.play-pause-button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#ffffff, #555555);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 30px;
    -fx-background-image: url("../images/playpausebutton_60_60.png");
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;

}

.stop-button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 30px;
    -fx-background-image: url("../images/stopbutton_60_60.png");
    -fx-padding: 15px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;

}

.prev-button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 10px;
    -fx-background-image: url("../images/prevbutton_90_60.png");
    -fx-padding: 18px;
    -fx-border-insets: 18px;
    -fx-background-insets: 18px;

}

.next-button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 10px;
    -fx-background-image: url("../images/nextbutton_90_60.png");
    -fx-padding: 18px;
    -fx-border-insets: 18px;
    -fx-background-insets: 18px;

}